<div class="container">
  <div class="row">
    <ul class="nav nav-pills">
      <div class="p-1 col-lg-12 h5">
          Categories
      </div>
      <div class="p-1 col-lg-12 pr-5">
        <li><button class="btn btn-block btn-outline-dark" routerLink="/category/electronics" >Electronics</button></li>
      </div>
      <div class="p-1 col-lg-12 pr-5">
        <li><button class="btn btn-block btn-outline-dark" routerLink="/category/foodAndDrinks" >Food & Drink</button></li>
      </div>
      <div class="p-1 col-lg-12 pr-5">
        <li><button class="btn btn-block btn-outline-dark" routerLink="/category/test" >Test</button></li>
      </div>
    </ul>
  </div>
</div>
