<div class="">

  <!-- MENU SIDEBAR-->
  <div class="menu-sidebar d-none d-block">
    <div class="logo">
<!--            <a href="/">Back</a>-->
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="/category/1" routerLinkActive="active-link">Food & Drinks</a>
          </li>
          <li>
            <a routerLink="/category/2" routerLinkActive="active-link">Electronics</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

<!--  <div class="page-container">-->
<!--    &lt;!&ndash; HEADER DESKTOP&ndash;&gt;-->
<!--&lt;!&ndash;    <header class="header-desktop">&ndash;&gt;-->
<!--      <div class="section-content section-content-p30">-->
<!--        <div class="container-fluid">-->
<!--          <div class="header-wrap">-->
<!--            <form class="form-header" onsubmit="return false;" method="GET">-->
<!--              <input class="au-input au-input-xl" type="text" name="search"-->
<!--                     placeholder="Search for data ..."/>-->
<!--              <button class="au-btn-submit" type="submit">-->
<!--                Search-->
<!--              </button>-->
<!--            </form>-->
<!--            <div class="cart-area d-n">-->
<!--&lt;!&ndash;              <a href="shopping-detail.html">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="total">19.22 <span> 2</span></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-shopping-cart" aria-hidden="true"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--              <a href="#">Cart</a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="account-wrap"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;    </header>&ndash;&gt;-->
<!--    <app-product-list></app-product-list>-->
<!--  </div>-->
</div>
